@import 'tailwindcss';

@theme {
  --color-primary: #e10600;
  --color-primary-light: #ff3b30;
  --color-primary-dark: #b00000;

  --color-black: #000000;
  --color-black-light: #1a1a1a;
  --color-black-lighter: #2a2a2a;

  --color-white: #ffffff;
  --color-white-dark: #f2f2f2;

  --color-border: #d3d3d3;
  --color-hover: #e10600;
  --color-shadow: rgba(0, 0, 0, 0.15);

  --font-title: 'Poppins', sans-serif;
  --font-body: 'Mulish', sans-serif;

  --container-center: true;
  --container-padding: 4rem;
  --container-sm: 100%;
  --container-md: 768px;
  --container-lg: 1070px;
  --container-xl: 1280px;
}
